<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">Login</h1>
        <div class="from-control">
            <input #userGamilInput type="text" required placeholder="Enter your email">
            <input #userPasswordInput type="password" required placeholder="Enter your Password">
        </div>
        <button class="login-btn" (click)="onUserLogin(userGamilInput.value, userPasswordInput.value )">Login</button>
        <p class="user-bottom-message">You haven't any account <a routerLink="/signup">Sign Up</a> here </p>
    </div>
</div>
