<section class="full_todo">
    <nav class="todo_nav container-fluid">
        <div class="_logo">
            <h2>To Do</h2>
        </div>
        <div class="_buttons">
            <button mat-mini-fab color="primary" [matMenuTriggerFor]="menu">
                <mat-icon class="setting">settings</mat-icon>
            </button>
        </div>
    </nav>

    <div class="todos container-fluid">
        <div class="row">
            <div class="col-sm-4 col-md-3 " *ngFor="let todo of myTodos; let i = index;">
                <div class="_todo unselectable">
                    <div *ngIf="!isListEdit" class="header">
                        <label (dblclick)="editList(todo.list , i)" class="taskTitle">{{todo.list.title}} </label>
                        <button mat-icon-button (click)="deleteList(todo.list._id, i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                    <hr>
                    <div class="lists">
                        <ng-container *ngIf="!isTaskEdit">
                            <div class="list" *ngFor="let task of todo.task; let j = index;">
                                <label (dblclick)="editTask(task,todo.list._id, i, j )">{{task.title}}</label>
                                <button mat-icon-button (click)="deleteTask(todo.list._id, task._id, i,j)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </ng-container>
                        <div class="create_list">
                            <button mat-raised-button class="addTask" *ngIf="!isTaskCreate"
                                (click)="createTask(todo.list._id, i)">
                                <span class="material-icons">
                                    add
                                </span>
                                <span>Add new task</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="_todo">
                    <button mat-raised-button class="addTask" *ngIf="!isListCreate" (click)="createList()">
                        <span class="material-icons">
                            add
                        </span>
                        <span>Add new list</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>


</section>