@import url('../../../styles.scss');

.mr_0{
    margin-right:0;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

mat-icon{
    font-size:20px;
    color:#11111191;
}

.setting{
    color:#fff;
}

button{
    &:active{
        border:none;
        outline:none;
    }
    &:focus{
        border:none;
        outline:none;
    }
}


.full_todo{
    min-height: 100vh;
    width: 100%;
    background: #d2d2d2;
    .todo_nav{
        display:flex;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(5deg, #aeea4e, #00ffa1e8);
        ._logo{
            h2{
                font-family: 'Lobster', cursive;
                font-size:30px;
                color:#fff;
                margin-top:10px;
            }
        }
        ._buttons{
            button{
                border:none;
                outline:none;
                &:focus{
                    border:none;
                    outline:none;
                }
                &:active{
                    border:none;
                    outline:none;
                }
            }
        }
        
    }

    .todos{
        ._todo{
            margin:0px;
            border:1px solid #fff;
            margin:20px 0px;
            border-radius:6px;
            box-shadow: 0px 0px 20px #fff;
            .header{
                display:flex;
                justify-content: space-between;
                align-items: center;
                padding:5px;
                .taskTitle{
                    font-weight: bold;
                    font-size:15px;
                    color:#11111191;
                }
            }
            .header_task_edit{
                padding:5px;
                input{
                    width:100%;
                    margin-bottom:5px;
                }
                .buttons{
                    display:flex;
                    flex-direction: row-reverse;
                    margin-bottom:5px;
                    margin-right:5px;
                    button{
                        padding:0px;
                        font-size:0.8rem;
                    }
                    .btn_cancel{
                        margin-right:5px;
                    }
                }
            }
            hr{
                margin:0px;
                padding:0px;
            }
            .lists{
                padding:10px 5px;
                .list{
                    display:flex;
                    justify-content: space-between;
                    align-items: center;
                    box-shadow: 0px 0px 6px #fff;
                    padding-left: 10px;
                    margin-bottom: 10px;
                }
                .edit_list{
                    textarea{
                        width:100%;
                        min-height:50px;
                        margin-bottom:5px;
                    }
                    .buttons{
                        display:flex;
                        flex-direction: row-reverse;
                        margin-bottom:5px;
                        margin-right:5px;
                        button{
                            padding:0px;
                            font-size:0.8rem;
                        }
                        .btn_cancel{
                            margin-right:5px;
                        }
                    }
                }
                .create_list{
                    margin-top:10px;
                }
            }

        }
        .addTask{
            width:100%;
            text-align: left;
            color:#11111191;
            background:#ddd;
        }
    }
    
}