<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">Sign Up</h1>
        <div class="from-control">
            <input #userGamilInput  type="text" placeholder="Enter your email">
            <input #userPasswordInput type="password" placeholder="Enter your Password">
        </div>
        <button class="login-btn" (click)="onUserSingUp(userGamilInput.value, userPasswordInput.value )">SingUp</button>
        <p class="user-bottom-message">You haven't any account <a routerLink="/login">Login</a> here </p>
    </div>
</div>