<div class="centered-content">
    <div class="task-manager-container">

        <button class="list-task-menu" mat-mini-fab color="primary" [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>

        <div class="sidebar">
            <h1>Lists</h1>
            <!-- list menu element -->
            <div class="list-menu">
                <a class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists', list._id]"
                    routerLinkActive="is-active">
                    <p class="list-task-title">{{list.title}}</p>
                    <button class="list-task-option" mat-icon-button [matMenuTriggerFor]="list_menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #list_menu="matMenu">
                        <button mat-menu-item [routerLink]="['/edit-list',listId]">Edit</button>
                        <button mat-menu-item (click)="listDelete()">Delete</button>
                    </mat-menu>
                </a>
            </div>
            <button class="new-list" routerLink="/new-list">+ New List</button>
        </div>

        <div class="task-list-container">
            <div *ngIf="tasks">
                <h1>Tasks</h1>
                <!-- task elements -->
                <div class="task" *ngFor="let task of tasks">
                    <div class="task-list-title" (click)="onTaskClick(task)" [ngClass]="{'task-completed':task.completed}">
                        <span>{{task.title}}</span>
                    </div>
                    <div class="task-list-option">
                        <button mat-icon-button [matMenuTriggerFor]="task_menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #task_menu="matMenu">
                            <button mat-menu-item [routerLink]="['/lists', listId, 'edit-task', task._id]" >Edit</button>
                            <button mat-menu-item (click)="taskDelete(task._id)">Delete</button>
                        </mat-menu>
                    </div>
                </div>
                <button class="task-add-btn" routerLink="./new-task">+</button>
                <h3 class="empty-message" *ngIf="tasks.length === 0">There are no taks here! Click the add button to
                    create task</h3>
            </div>
            <div class="empty-message" *ngIf="!tasks">
                <h1>Please select your list.</h1>
            </div>
        </div>
    </div>
</div>